@using Achiles.Codex.Web.Misc
@model IEnumerable<Achiles.Codex.Web.Models.AttributeInfo>

<h2>Attributes</h2>
<p class="text-muted">
    Attributes – numerical values of certain physical or mental qualities. Attributes are used in all combat and similar (turn based or instant) situations.
</p>
<hr />

    @foreach (var attr in Model)
    {
        <div class="row">
            <div class="col-md-3">
                <a href="@Url.Action("Edit","Attributes", new { Id = attr.Id.CleanId()})"><span class="glyphicon glyphicon-edit"></span></a>
                @attr.Name
            </div>
            
        </div>
        }

