@model Achilles.Codex.Web.Models.ArticleListViewModel
@using Achilles.Codex.Web.Misc
@using System.Text.RegularExpressions

<hr />
<div class="pagelist">
    <div class="row">
        <div class="col-md-10 col-md-offset-5">
            <ul class="pagination pagination-sm"></ul>
        </div>
    </div>
</div>
<div id="articles" class="container"></div>
<div class="pagelist">
    <div class="row">
        <div class="col-md-10 col-md-offset-5">
            <ul class="pagination pagination-sm"></ul>
        </div>
    </div>
</div>

<script id="article-template" type="text/x-handlebars-template">
    {{#each Articles}}
    <div class='panel panel-default'>
        <div class="panel-body">
            <h4><a href="@Url.Action("RedirectToItem", "Codex")/{{Id}}">{{Name}}</a></h4><hr />
            <div>
                <div class="row">
                    <div class="col-md-1">
                        {{#if IconUrl}}
                        <img class="thumbnail thumbnail-float-left" src="{{IconUrl}}" />
                        {{else}}
                        <img class="thumbnail thumbnail-float-left" src="https://dl.dropboxusercontent.com/u/62192394/Web.Shared/default.image.ahilles.codex.jpg" />
                        {{/if}}
                    </div>
                    <div id="description" class="col-md-11">{{{Description}}}</div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-10">
                    {{#if Tags}}
                    {{#each Tags}}
                    <a class='label label-primary' href="#"><span>{{this}}</span></a>
                    {{/each}}
                    {{/if}}
                </div>
                <div class="btn-group pull-right" style="margin-right:5px">
                    @if (User.IsContributor())
                    {
                        <a href="@Url.Action("Edit")/{{id}}" class="btn btn-warning btn-xs">
                            <span class="glyphicon glyphicon-wrench"></span>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</script>

@section scripts
{
    <script type="text/javascript">
        var ps = 10;
        function displayPage(num) {
            if (!num) num = 1;
            $.getJSON("@Url.Action("GetJsonArticles/")", { pageSize: ps, pageNumber: num }, function (data) {
                var asource = $("#article-template").html();
                var atemplate = Handlebars.compile(asource);
                $('#articles').html(atemplate(data));
                //Pagination
                $(".pagination").html('<li><a>Jump to page</a></li>');
                for (var i = 1; i <= Math.ceil(parseInt(data.TotalArticles) / ps) ; i++) {
                    var active = "onClick='loadPage(" + i + ")'"; var action = "";
                    if (i == num) {
                        active = "class='active'";
                    }
                    if (data.TotalArticles <= ps) {
                        active = "class='disabled'";
                        action = "";
                    } 
                    $(".pagination").append("<li " + active + "><a " + action + ">" + i + "</a></li>");
                }
            });
        }
        function loadPage(num) {
            displayPage(num);
        }

        displayPage();
    </script>
}
