@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Achiles.Codex</h1>
    <p class="lead">This site will contain UI and REST services that will manage the codex.</p>
    <div class="alert-info">This is a test.</div>
    
</div>
