@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Achiles.Codex</h1>
    <p class="text-muted">Connected to RavenHQ, Raven Version : @ViewBag.RavenBuildNumber </p>
</div>
