@model Achilles.Codex.Web.Models.WeaponListViewModel
@using Achilles.Codex.Web.Misc
@using System.Text.RegularExpressions
<hr/>
<div id="weapons" class="container"></div>

<script id="weapon-template" type="text/x-handlebars-template">
    <table class="table table-bordered table-striped" id="example-default">
        <thead>
            <tr>
                <th>Name</th>
                <th>Min STR</th>
                <th>Weight</th>
                <th>Price</th>
                <th>Article</th>
                <th>Tags</th>
                <th>Related</th>
            </tr>
        </thead>
        <tbody>
            {{#each Weapons}}
                <tr>
                    <th>{{Name}}</th>
                    <th>{{MinimumStrenght}}</th>
                    <th>{{Weight}}</th>
                    <th>{{Price}}</th>
                    <th>{{ArticleId}}</th>
                    <th>{{Tags}}</th>
                    <th>
                        {{#each RelatedCodexItems}}
                            {{Name}}
                        {{/each}}
                    </th>
                </tr>
            {{/each}}
        </tbody>
    </table>
</script>

@section scripts
{
    <script type="text/javascript">

        $.getJSON("@Url.Content("GetJsonWeapons/")", { pageSize: 10, pageNumber: 1 }, function (data) {
            var asource = $("#weapon-template").html();
            var atemplate = Handlebars.compile(asource);
            $('#weapons').html(atemplate(data));

            $("table").tablecloth({
                theme: "default",
                bordered: false,
                condensed: false,
                striped: true,
                sortable: true,
                clean: true,
                cleanElements: "th td"
            });
        });

    </script>
}
