@model Achilles.Codex.Web.Models.WeaponListViewModel
@using Achilles.Codex.Web.Misc
@using System.Text.RegularExpressions
<hr/>
<div id="weapons" class="container">
    <table class="table table-bordered table-striped" id="example-default">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th>Hometown</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Johnny</td>
                <td>Appleseed</td>
                <td>johnny.appleseed@email.com</td>
                <td>New York, NY</td>
            </tr>
            <tr>
                <td>Marty</td>
                <td>McFly</td>
                <td>not.a.chicken@hotmail.com</td>
                <td>Hill Valley, CA</td>
            </tr>
            <tr>
                <td>Tucan</td>
                <td>Sam</td>
                <td>fruity@generalmills.com</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Darth</td>
                <td>Vader</td>
                <td>lord.of.the.sith@deathstar.gov</td>
                <td>Tatooine</td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts
{
    <script type="text/javascript">

        $("table").tablecloth({
            theme: "stats",
            bordered: false,
            condensed: false,
            striped: true,
            sortable: true,
            clean: true,
            cleanElements: "th td"
        });

    </script>
}