@model Achilles.Codex.Web.Models.ArticleListViewModel
@using Achilles.Codex.Web.Misc
@using System.Text.RegularExpressions

<div id="weapons" class="container"></div>

@section scripts
{
    <script type="text/javascript">


    </script>
}