@model dynamic

<h2>Mocks</h2>


<a href="@Url.Action("NewArticle")">New article mockup</a>
<br/>
<a href="@Url.Action("NewMeleeWeapon")">New melee weapon mockup</a>
<br />
<a href="@Url.Action("NewMeleeWeaponJonas")">New melee weapon mockup (Jono variantas)</a>
<br/>
<a href="@Url.Action("Rule")">New melee weapon mockup (Jono variantas)</a>

