@using Achilles.Codex.Web.Misc
@model IEnumerable<Achilles.Codex.Model.SkillFeature>

<h2>Skill Features</h2>
<p class="text-muted">
    Skill feature
</p>
<hr />


@{
    ViewBag.Title = "Skill Feature";
}

<h2>Index</h2>

<p>
    <div class="row">
        <div class="col-xs-2">
            <input type="text" class="form-control" id="filterAttributes" placeholder="fillter">
        </div>
        <div class="col-xs-2">
            @if (User.IsContributor()) //only contributors can add new attribute
            {<a class="btn btn-default" href="@Url.Action("Edit", "SkillFeature")" title="Add new skill feature">
                <span class="glyphicon glyphicon-plus-sign"></span> New Skill Feature
            </a>}
        </div>
    </div>
</p>








