@model IEnumerable<Achiles.Codex.Web.Models.ApplicationUser>
<h2>Codex Users</h2>           
<hr/>

<table class="table-striped" style="width:100%">
    <thead>
        <tr>
            <th>User name</th>
            <th>Provider</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("EditUser", new { Id = user.UserName })">@user.UserName</a>;
                </td>
                <td>@string.Join(",", user.Providers.Select(x => x.LoginProvider))</td>
                <td>@string.Join(",",user.Roles.Select(x=>x.Role.Name))</td>
                
            </tr>
        }
    </tbody>
</table>
